alabaster==0.7.13
azure-identity==1.14.0
coverage==7.3.2
pandas==2.1.1
pytest==7.4.2
pytest-cov==4.1.0
pytest-mock==3.11.1
requests==2.31.0
requests-mock==1.11.0
Sphinx==6.2.1
sphinxcontrib-serializinghtml==1.1.9
